.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #b6b6b6;
}

label {
  font-size: 20px;
}

.btn {
  margin-left: 10px;
}

.btn:first-child {
  margin-left: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first_form,
.second_form {
  width: 50%;
  margin: 20px;
}

.footer {
  margin: 20px;
}

.footer button:first-child {
  margin-right: 20px;
}

.error {
  margin: 0 auto;
  max-width: 500px;
}
