.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 20px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #b6b6b6;
}

.header input[type] {
}
.label {
  font-size: 16px;
  margin-right: 10px;
}

.btn {
  margin-left: 10px;
}

.btn:first-child {
  margin-left: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first_form,
.second_form,
.third_form,
.fourth_form {
  width: 25%;
  margin: 10px;
}

.footer {
  margin: 20px;
}

.footer button:first-child {
  margin-right: 20px;
}

.error {
  margin: 0 auto;
  max-width: 500px;
}

.default {
  height: 374px;
  padding: 4px 0;
}

.dark h1 {
  color: #fff;
}

.dark form {
  background-color: #15172b;
  border-radius: 20px;
  padding: 20px;
}

.dark label {
  color: #fff;
}

.dark input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 20px;
  width: 100%;
  margin: 10px 0;
}

.dark button {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

.color input {
  font-size: 0.875em;
  padding: 10px 15px;
  margin: 10px 0;
  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
}

.color input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.color button {
  padding: 10px;
  margin-top: 16px;

  font-size: 0.875em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
}

.color button:hover {
  color: #857366;
}

.light form,
.dark form,
.color form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.light input {
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
  margin: 10px 0;
}

.light label,
.dark label,
.color label {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.light input:focus {
  background: rgba(0, 0, 333, 0.1);
}

.light button {
  background-image: linear-gradient(
    to left,
    rgba(255, 146, 202, 0.75) 0%,
    rgba(145, 149, 251, 0.86) 100%
  );
  box-shadow: 0 9px 25px -5px #df91fb;
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 16px 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}

.light button:hover {
  transform: translatey(2px);
}

.light button:active {
  transform: translatey(5px);
}
